<div class="comentarios">

    <div class="m-3">
    <div class="d-flex justify-content-between"> 
    
    
        <div>
            <p>Fulano</p>
        </div>
    
    
        <div class="d-flex">
            <div> <button class="buttonEstrela"> <img src="/images/Star 2.png"
                        class="estelas" alt=""> </button> </div>
            <div> <button class="buttonEstrela"> <img src="/images/Star 2.png"
                        class="estelas" alt=""> </button> </div>
            <div> <button class="buttonEstrela"> <img src="/images/Star 2.png"
                        class="estelas" alt=""> </button> </div>
            <div> <button class="buttonEstrela"> <img src="/images/Star 2.png"
                        class="estelas" alt=""> </button> </div>
            <div> <button class="buttonEstrela"> <img src="/images/Star 2.png"
                        class="estelas" alt=""> </button> </div>
            
        </div>
    
    </div>
    
    <div>
        <p>Muito bom esse Produto, excelente qualidade</p>
    </div>
    </div>
    
</div>