<head>
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<footer>
     
    <img src="/images/blue-shark-logo-black.png" style="width: 140px; margin-right: -20px;" alt="img"></div>
     
    <div class="informacoesFooter">

       <div id="opcoesDeContato"> 
         <table>
           <li>Trabalhe conosco</li>
           <li>Termos e condições</li>
           <li>Como cuidamos da sua privacidade</li>
           <li>Contato</li>
         </table> 
       </div>   
    
       <div id="endereco">
         <p>Copyright © 1999-2021 Ebazar.com.br LTDA.</p>
         <p>CNPJ n.º 03.007.331/0001-41 / Av. das Nações Unidas, nº 3.003, Bonfim, Osasco/SP - CEP 06233-903 - empresa do grupo Shark Games</p>
       </div>
       
    </div>

</footer>