<header>


    <div id="containerHeader">

      <img src="/images/Logo.jpg" style="width: 126px; height: 60px;" alt="">

      <div class="pesquisaOpcoes">

        <form>
          <input id="barraDePesquisa" placeholder="Pesquise o seu produto..." type="text">
        </form>

        <p class="linhaCategoria"></p>
      
        <ol class="opcoes">

          <li>Categorias</li>
          <li>Ofertas do dia</li>
          <li>Vender</li>
          <li>Contato</li>
          <li>Carrinho</li>

        </ol>

      </div>

      <div class="informeCep">
        
        <span>NEW</span>

        <p class="informe">informe seu</p>

        <p>CEP</p>
  
      </div>

      <div class="perfil">

        
        <p class="barraCadastro"></p>
        

        <ol id="cadastroEperfil">

          <li>Cadastro</li>
          <li>Perfil</li>
        
        </ol>

      </div>

    </div>

  </header>