<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shark X | item</title>
    <%- include('./partials/linkBootstrap') %>
</head>

<body>
    <%- include('./partials/header') %>

    <main style="background-color: rgb(56, 56, 56); padding: 100px 0;">
        <form action="/cadastro/produto" method="post" style="display: flex; flex-direction: column;">
        <label for="nome">Nome do produto:</label>
        <input type="text" id="nome" name="nome" style="width: 300px; color: black;">
        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor" style="width: 300px; color: black;">
        <label for="descricao">Descrição:</label>
        <textarea name="descricao" id="descricao" cols="30" rows="10" style="height: 200px; width: 300px; resize: none; color: black;"></textarea>
        <button type="submit" style="width: 100px; color: rgb(39, 39, 39);">Enviar</button>
        </form>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html>