<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shark | carrinho</title>
    <link rel="stylesheet" href="/stylesheets/carrinho.css">

    <%- include('./partials/linkBootstrap') %> 
</head>
<body>
    <%- include('./partials/header') %> 

    <main style="background-color: #3B3C4B;">
        <div style="display: flex; justify-content: center;background-color: #73758F; width: 100%;">
        <div class="d-flex justify-content-between" style="background-color: #73758F; width: 1349px;">
        <div class="d-flex mt-3">

        <div> 
          <select name="" id="" class="m-3" style="border: none; background-color: transparent;" >
              <option value=""><div>Lojas </div></option> 
              <option value=""><div>ca</div></option> 
              <option value=""><div>ca</div></option> 
            </select>
        </div>

        <div>
        <select name="" id=""  class="m-3" style="border: none; background-color: transparent;" >
            <option value=""><div>Suporte </div></option> 
            <option value=""><div>ca </div></option> 
            <option value=""><div>ca </div></option> 
          </select>
     </div>

     <div>
        <select name="" id="" class="m-3" style="border: none; background-color: transparent;" >
            <option value=""><div>Filtro </div></option> 
            <option value=""><div>ca </div></option> 
            <option value=""><div>ca </div></option> 
          </select>
     </div>

        </div>
    
        <div class="m-2"><img src="/images/Usuario.png" alt=""></div>
    
    </div>
  </div>
</div>
    <div class="d-flex justify-content-center">

<div style="align-items: center;">
        <div class="caixaDoCarrinho">
            
        <div>  <img src="/images/Teste-01.jpg" style="width: 183px; height: 150px;" alt=""> </div>  
        <!-- <div style="display: flex; flex-direction: column; margin-left: 10px;" ><hr></div> -->

        <div> <h1 class="nomeDoProduto">RTX 3080 TI</h1></div>
        

        <div class="precos">
            <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>

            <p>Desconto 20% <br>
              <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
          </div>
          <div class="imagemCarrinhoCortado"> <div> <img src="/images/Vector (2).png" alt=""></div> </div>  
</div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">


    <div class="caixaDoCarrinho">

    <div>  <img src="/images/Teste-01.jpg" style="width: 183px; height: 150px;" alt=""> </div>  
    <!-- <div style="display: flex; flex-direction: column; margin-left: 10px;" ><hr></div> -->

    <div> <h1 class="nomeDoProduto">RTX 3080 TI</h1></div>

    <div class="precos">
        <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>

        <p>Desconto 20% <br>
          <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
      </div>
<div class="imagemCarrinhoCortado"> <div> <img src="/images/Vector (2).png" alt=""></div> </div>
    </div>
    
</div>

</div>

<div class="d-flex justify-content-center">

    <div class="caixaDoCarrinho">
    <div>  <img src="/images/Teste-01.jpg" style="width: 183px; height: 150px;" alt=""> </div>  
    <!-- <div style="display: flex; flex-direction: column; margin-left: 10px;" ><hr></div> -->
    <div> <h1 class="nomeDoProduto">RTX 3080 TI</h1></div>

    <div class="precos">
        <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>

        <p style="margin-bottom: 0px; color: #6bffac">Desconto 20% <br>
          <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
      </div>
      <div class="imagemCarrinhoCortado"> <div> <img src="/images/Vector (2).png" alt=""></div> </div>
    </div>
</div>

<div class="d-flex justify-content-center"> 
    <button id="botaoDeAdicionarAoCarrinho"> <div class="d-flex align-items-center justify-content-center"> <div><img src="/images/Vector (3).png" style="margin-right: 25px;" alt=""></div> 
    <div><h1>Adicionar mais produtos no carrinho</h1></div></div> 
  </button>
</div> 

<div class="d-flex justify-content-end">
    <div class="m-5"><button id="realizarCompra">Realizar compra</button></div>
</div>
  
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>