<!DOCTYPE html>
<html>

<head>
  <title>
    Shark
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <%- include('./partials/linkBootstrap') %> 
</head>

<body>

<%- include('./partials/header.ejs') %>


  <main>



    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/Teste-01.jpg" style="width: 1366px; height: 105px;" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/Teste-02.jpg" style="width: 1366px; height: 105px;" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/Teste-03.jpg" style="width: 1366px; height: 105px;" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <div class="d-flex justify-content-center" id="separamentoCarrosel">
      <div id="carouselExampleDark" class="carousel carousel-dark slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="d-flex justify-content-center"> <img src="/images/Teste-01.jpg" class="d-block w-25 h-25"
                alt="..."> </div>
            <div class="carousel-caption d-none d-md-block">
              <div class="d-flex justify-content-end">
                <h5 class="descontoCarrosel">Desconto de 20%</h5>
              </div>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <div class="d-flex justify-content-center"> <img src="/images/Teste-02.jpg" class="d-block w-25 h-25"
                alt="..."></div>
            <div class="carousel-caption d-none d-md-block">
              <div class="d-flex justify-content-end">
                <h5 class="descontoCarrosel">Desconto de 20%</h5>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="d-flex justify-content-center"><img src="/images/Teste-03.jpg" class="d-block w-25 h-25"
                alt="..."></div>
            <div class="carousel-caption d-none d-md-block">
              <div class="d-flex justify-content-end">
                <h5 class="descontoCarrosel">Desconto de 20%</h5>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


<div class="separarLinhasDeCaixas">
    <div class="d-flex justify-content-around">

      <div class="caixa">

        <div><img src="/images/Teste-01.jpg" style="height: 250px; width: 300px;" alt="">
          <div class="precos">
            <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>

            <p>Desconto 20% <br>
              <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
          </div>
          
        </div>
      </div>
      
      <div class="caixa">

        <div><img src="/images/Teste-03.jpg" style="height: 250px; width: 300px;" alt="">
          <div class="precos">
            <p><span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>
            <p>Desconto 20% <br>
              <span class="dinheiroBrasil">R$</span>  <span class="precosComDesconto"> 800,00</span></p>
          </div>
          
        </div>
      </div>

      <div class="caixa">

        <div>
          <img src="/images/Teste-02.jpg" style="height: 250px; width: 300px;" alt="">
          <div class="precos">
            <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span> </p>
            <p>Desconto 20% <br>
              <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
          </div>
        </div>
      </div>
  </div>      
 </div>

<!-- Parte 2 -->

      <div class="separarLinhasDeCaixas">
    <div class="d-flex justify-content-around">

      <div class="caixa">

        <div><img src="/images/Teste-01.jpg" style="height: 250px; width: 300px;" alt="">
          <div class="precos">
            <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>

            <p>Desconto 20% <br>
              <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
          </div>
          
        </div>
      </div>
      
      <div class="caixa">

        <div><img src="/images/Teste-03.jpg" style="height: 250px; width: 300px;" alt="">
          <div class="precos">
            <p><span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>
            <p>Desconto 20% <br>
              <span class="dinheiroBrasil">R$</span>  <span class="precosComDesconto"> 800,00</span></p>
          </div>
          
        </div>
      </div>

      <div class="caixa">

        <div><img src="/images/Teste-02.jpg" style="height: 250px; width: 300px;" alt="">
          <div class="precos">
            <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span> </p>
            <p>Desconto 20% <br>
              <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
          </div>
        </div>
      </div>
    </div>      
 </div>

<!-- Parte 3 -->

<div class="separarLinhasDeCaixas">
  <div class="d-flex justify-content-around">

    <div class="caixa">

      <div><img src="/images/Teste-01.jpg" style="height: 250px; width: 300px;" alt="">
        <div class="precos">
          <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>

          <p>Desconto 20% <br>
            <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
        </div>
        
      </div>
    </div>
    
    <div class="caixa">

      <div><img src="/images/Teste-03.jpg" style="height: 250px; width: 300px;" alt="">
        <div class="precos">
          <p><span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span></p>
          <p>Desconto 20% <br>
            <span class="dinheiroBrasil">R$</span>  <span class="precosComDesconto"> 800,00</span></p>
        </div>
        
      </div>
    </div>

    <div class="caixa">

      <div><img src="/images/Teste-02.jpg" style="height: 250px; width: 300px;" alt="">
        <div class="precos">
          <p> <span class="dinheiroBrasil">R$</span> <span class="precoReal">1000,00</span> </p>
          <p>Desconto 20% <br>
            <span class="dinheiroBrasil">R$</span> <span class="precosComDesconto"> 800,00</span></p>
        </div>
      </div>
    </div>
  </div>      
</div>
</main>

<%- include('./partials/footer') %>    

</body>

</html>