@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}

/*MAIN*/
main {
  background-color: #1F2937;
}

#mainCadastro {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
} 

.inputCadastro {
 background-color: #C4CEDB;
 width: 477px;
  height: 44.48px;
  border: none;
  outline: none;
  border-radius: 20px ;
}

.inputSeparar{
  margin: 15px 6px;
}

.InputSelection {
  color: #222222;
  width: 190px;
  height: 44.48px;
  background-color: #C4CEDB;
  border: none;
  outline: none;
  border-radius: 20px ;
}

label {
  margin-right: 10px;
}

.inform1{
    margin: 10px;
}

.dataNascimento {
  width: 60px;
  background-color: #C4CEDB;
  border: none;
  outline: none;
  border-radius: 20px ;
 
  height: 30px;
}

.inform2{
  margin: 10px;

}

.inputNumero{
 width: 90px;
 height: 45px;
 color: #222222;
 background-color: #C4CEDB;
 border: none;
 outline: none;
 border-radius: 20px ;
}

.inputComplemento {
  width: 163px;
  height: 45px;
  background-color: #C4CEDB;
 border: none;
 outline: none;
 border-radius: 20px ;
}

.inputCidade { 
 width: 227px;
 height: 44.48px;
 background-color: #C4CEDB;
 border: none;
 outline: none;
 border-radius: 20px ;
}

#botaoDeCadastro {
  margin-top: 60px;
  background-color: #177D94;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 394px;
  height: 49.31px;
  font-size: 30px;
  text-transform: bold;  
}
/*MAIN*/