@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixaDoCarrinho {    width: 1054px;
  height: 200px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #72757B;
}

.hrDoCarrinho {
  display: flex;
  flex-direction: column;
}

.imagemCarrinhoCortado{
  display: flex;
  
  justify-content: center;
}

#botaoDeAdicionarAoCarrinho {
  width: 981.64px;
  height: 120px;
  border: none;
  background-color: #595c63;
  border-radius: 15px ;
  outline: none;

}

#botaoDeAdicionarAoCarrinho:hover{
  transition-duration: 0.25s;
  background-color: #4e5157;
  border: 1px solid #333333;
}

#realizarCompra:hover {
  transition-duration: 0.25s;
  background-color: rgb(122, 122, 122);
}

 alinhar {
  display: flex;
  justify-content: center;
  align-items: center ;
}

.precoReal {
  font-size: 29px;
  color: #e9e9e9;
}

.precosComDesconto{
  font-size: 29px;
  color: #ffffff;
}

#realizarCompra{
  width: 281px;
  height: 79px;
  border: none;
  border-radius: 15px;
  background-color: #828282;
  font-size: 23px;
}

.justify-content-between {
  padding: 0px 60px;
}

.dinheiroBrasil {
  font-size: 29px;
  color: #5ef268;
}
