@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}


.formasDePagamento{
    display: flex;
   justify-content: center;
  
  
 }
 .caixaDePagamento{
   background-color: #B3B9C0;
   margin: 5px;
   border: none;
   outline: none;
   width: 407.44px;
   height: 53.41px;
 
 }
 
 #mainPagamento{
   background-color: #1F2937;
 }
 
 .separamentoDoInputNumeroDeCartao{
   margin: 8px;
   display: flex;
 }
 
 .inputNumeroDoCartao {
   width: 170px;
   height: 32px;
   outline: none;
   border: none;
 }
 
 #realizarCompra{
   width: 377px;
   height: 75px;
   border: none;
   outline: none;
   border-radius: 20px;
   background-color: #636568;
   
 
 }
 
 .alinhar {
   display: flex;
   justify-content: center;
   align-items: center ;
 }
 
 h4 {
   margin-right: 10px;
 }