@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  color: white;
}

body {
  margin: 0pc;
}


main {
  background-color: #626262;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carouselExampleDark{
  background-color: white;
  width: 1100px;
}

#carouselExampleIndicators {
  width: 1349px; 
  height: 105px;
}

.descontoCarrosel {
  color: black;
}

#separamentoCarrosel {
  margin-top: 75px;
  margin-bottom: 120px;
}

.caixaDeProdutos{
  display: flex;

}

.caixa {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 25%); 
  margin: 17px 60px;
}

.caixa:hover {
  box-shadow: 0px 6px 10px rgb(0 0 0 / 20%); 
}

.dinheiroBrasil {
  font-size: 32px;
  color: #5ef268;
}

.precoReal {
  font-size: 29px;
  color: #e9e9e9;
}

.separarLinhasDeCaixas {
  display: block;
  margin-top: 70px;
}

.separarLinhasDeCaixas > div {
  margin-top: -60px;
}

.precosComDesconto{
  font-size: 29px;
  color: #ffffff;
}

.precos {
  background: #3c3c3c;
  padding: 15px 20px;
  height: 182px;
}

.caixa > img {
  height: 250px;
  width: 300px;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 25%);
  position: relative;
  z-index: 1;
}

.caixa > img:hover {
  box-shadow: 0px 3px 8px rgb(0 0 0 / 50%);
}
